:host {
    max-width: 1280px;
    text-align: center;
}

#app-header {
  background-color: #673ab7;
  color: #EFEFEF;
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  font-weight: 600;
  padding-block: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
