:host {
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#app-header {
  background-color: #673ab7;
  color: #EFEFEF;
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  font-weight: 600;
  padding-block: 2rem;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
