:host {
    display: block;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.app-comp {
    min-height: 100vh;
}

#app-header {
  background-color: #673ab7;
  color: #EFEFEF;
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-block: 4vh;
  height: 4vh;
}
